* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.flex-container {
    display: flex;
    margin: 0 20px;
}

.flex-item {
    margin: 0 20px;
    justify-content: space-evenly;
    /* border: #888888 solid 2px; */
    background-color: #eee;

}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    margin: 1em;
}

header p {
    color: #888;
    font-style: italic;
    font-size: 1.2em;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;

}

hr {
    color: #eee;
    width: 100px;
    align-items: center;
    margin: 40px auto 20px auto;
}

footer p {
    color: #888;
    margin: 20px auto;
    padding: 0 30px;
    text-align: center;
    max-width: 750px;
}