.flex-container {
    height: 200px;
    align-items: flex-start;
}

.align-self-flex-start .flex-item:nth-child(2) {
    align-self: flex-start;
}

.align-self-center .flex-item:nth-child(2){
    align-self: center;
    
}

.align-self-flex-end .flex-item:nth-child(2){
    align-self: flex-end;
}

.align-self-baseline .flex-item:nth-child(2){
    align-self: baseline;
}

