.flex-container {
    height: auto;
    width: 600px;
}

.align-items-stretch{
    align-items: stretch
}

.align-items-flex-start{
    align-items: flex-start
}

.align-items-center{
    align-items: center
}

.align-items-flex-end{
    align-items: flex-end
}

.align-items-baseline{
    align-items: baseline;
}

